.btn {
    padding: 8px 16px;
    margin: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFF0;

    border: 1px solid #FFFFF0;
    background-color: #3b3232;
     width: 120px;      
    text-align: center
}