* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
     background: linear-gradient(90deg, #6f4e37 0%, #a67c52 100%);
  color: #fff; 
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container img {
  height: 50px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-container.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 20px;
  background: #6f4e37;
  padding: 10px;
  border-radius: 8px;
}

.user-name {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

/* Animate bars when open */
.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .btn-container {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
