
.forms-container{
  margin: 40px auto;
  padding: 40px 10px;
  padding:  100px auto;
    display: flex;
    
  flex-direction: column;
  align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 50%;


    
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.input-box
{

  background-color:  #f7f7f7;
    width: 70%;
    margin: 20px 10px;
    padding: 10px 4px ;
    border: 1px solid rgb(61, 50, 43);
}